body,
td,
.nav-collapse .nav > li > a { /* style the menu when in the iPhone mode */
	font-size: 18pt;
  font-family: 'Muli', 'Helvetica', sans-serif;
	font-weight: lighter;
	line-height: 1.3em;
/* 	text-shadow: -1px -1px 0px rgba(255, 255, 255, 0.6), 1px 1px 0px rgba(0, 0, 0, 0.4); */
	color: #555;
}

h1 {
	padding: 50px 0 20px 0;
	margin: 0px;
	text-align: center;
}

h2 {
	padding: 30px 0 30px 0;
	margin: 0px;
	font-weight: 300 !important;
	color: rgb(134, 194, 65);
}

b {
	font-weight: 400;
}

.navbar .nav > li > a {
	padding: 0 60px 0 0;
}
 
body {
	position: relative;
/* 	background-color: #DDD; */
}

body .background {
	position: absolute;
	right:0;
	top:0;
	min-width: 100%;
	z-index: -1;
}

a {
	color: rgb(134, 194, 65);	
}

a.anchor {
	position:absolute;
	top:0px;
}

.footnote {
	font-size: 13pt;
	text-shadow:none;
	font-weight:300;
	line-height: 1.3em;
}

.footnote-green {
	font-size: 13pt;
	text-shadow:none;
	font-weight:300;
	line-height: 1.3em;
	color: rgb(134, 194, 65);
}

.footnote-term-dates {
	font-size: 13pt;
	text-shadow:none;
	font-weight:300;
	line-height: 1.3em;
	padding-left: 50px;
}

ul {
	padding: 0 20px;
}

 .term-dates {
	color: rgb(134, 194, 65);
	padding: 5px 5px;
	line-height: 1.3em;
	font-size: 16pt;
/* 	font-weight: ; */
	padding-left: 50px;
}


.navbar .navbar-inner {
	background: transparent;
	border: none;
	box-shadow: none;
	margin: 40px 0 0px 0;
	padding: 0px;
}

.navbar .navbar-inner li > a {
	font-size: 120%;
}

.navbar .navbar-inner .active > a,
.navbar .navbar-inner .active > a:hover {
	box-shadow: none;
	background-color: transparent;
	color: rgb(134, 194, 65);
	text-decoration: underline;
}

.navbar-fixed-top {
	top: 40px;
}



#logo-main,
#logo-timetable {
	width: 80%;
	margin: 0px 10% 30px 10%;	
}

#logo-timetable {
	width: 70%;
}

.welcome 
 {
	font-size: 120%;
	font-weight: 300;
	color: rgb(134, 194, 65);
	padding: 0.5em 0;
	/* text-shadow: -1px -1px 0px rgba(255, 255, 255, 0.6), 1px 1px 0px rgba(0, 0, 0, 0.4)	 */
}

.about-ithrive
 {
	font-size: 120%;
	font-weight: 300;
	color: rgb(134, 194, 65);
	padding: 0.5em 0;
}

.testimonials
 {
	font-size: 100%;
	font-weight: 300;
	color: rgb(134, 194, 65);
	padding: 0.5em 0;
	font-style: italic;
}

.testimonials span
 {
	font-size: 80%;
	font-weight: 300;
	color: rgb(134, 194, 65);
	padding: 0.5em 0;
	font-style: italic;
	display: block;
	text-align: right;
	padding: 0 150px;
}


.picture-circles {
	margin-bottom: 10px;
}

h2 {
	font-weight: 100;
}

h3 {
	font-weight: 300;
	color: rgb(134, 194, 65);
	/* text-shadow: -1px -1px 0px rgba(255, 255, 255, 0.6), 1px 1px 0px rgba(0, 0, 0, 0.2) */
	}

h4 {
	font-style: italic;
	font-weight: 100;
	font-size: 65%;
}


tr > td:nth-child(3),
tr > td:nth-child(4) {
	text-align: center;
}

.timetable {
	padding: 0px 0 20px 30px;
}

.table td { 
	line-height: 40px;
}


.timetable-sidenote {
	font-style: italic;
	font-weight: 100;
	font-size: 65%;
/* 	padding-bottom: 20px */
}
.call-to-action {
	font-size: 80%;
}

.dates-heading {
	padding-bottom: 1px;
}



.contact-info {
	text-align: center;
}

.email-address {
	font-weight: 300 !important;
	color: rgb(134, 194, 65)!important;
	text-shadow: -1px -1px 0px rgba(255, 255, 255, 0.6), 1px 1px 0px rgba(0, 0, 0, 0.2)!important;
	margin-bottom: 30px;
}

 .facebook-call-to-action {
 	font-size: 60%;
 	color: rgb(59, 89, 152);
 }
/* LOCATION STUFF: */

.page-location .row {
	margin-top: 40px;
}

.page-location .span6 {
	/* text-shadow: -1px -1px 0px rgba(255, 255, 255, 0.6), 1px 1px 0px rgba(0, 0, 0, 0.4); */
}

.address {
	margin: 20px 0;
	font-size: 34pt;
	line-height: 1.3em;
}

.address .building {
	font-weight: 300;
}
.address .street {
}
.address .suburb {
	text-transform:uppercase;
	font-size: 80%;
	line-height: 1.4em;
}

.location-details {
	font-size: 80%;
	/* text-shadow: -1px -1px 0px rgba(255, 255, 255, 0.6), 1px 1px 0px rgba(0, 0, 0, 0.4); */
	padding-bottom: 20px;
}


@media (max-width: 979px) {
/* iPad */
	#navbar-spacing {
		height: 0px;
	}

}

@media (max-width: 767px) {
/* iPhone */
	body {
		background-image: none;
		background-color: #DDD;
	}
	a.anchor {
		position:relative;
		top:inherit;
	}
	
	.navbar .navbar-inner {
		margin: 10px 0 0 0;
	}
	#logo-main {
		margin-top: 5px;
	}
	.info {
		text-align: center;
		font-size: 70%;
	}
	.testimonials {
		text-align: center;
		font-size: 80%;
		font-weight: bold;
	}
	.picture-circles > * {
		float: left;
		width: 25%;
		padding-right: 10px;
	}
	.table tr td,
	.table tr td .level {
		font-size: 9pt;
	}
	
	.call-to-action {
		font-size: 12pt;
	}
	
	.timetable {
		padding: 0 !important;

	}
	
	.term-dates {
	 	margin-top: 0px;
	 	padding-bottom: 10px;
	 	font-size: 60%; 	
	 }

	.welcome .about-ithrive {
	 font-size: 150%;
	}
	 
	h3 {
	font-size: 70%;
	padding: 0 !important;
	}

	h2 {
	font-size: 100%;
	padding: 0 !important;
	}
	
	h1 {
	font-weight: lighter;
	font-size: 120%;
	color: 
	}
	
	.page-location .span6 {
	text-shadow: none;
	}

}
